<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Them Moi</h1>
<form action="" method="post">
    <label for="name">fullName</label>
    <input type="text" name="name" id="name"><br>

    <label for="name">address</label>
    <input type="text" name="stock"  id><br>

    <label for="name">email</label><br>
    <input type="text">
    <label for="name">phone</label><br>
    <input type="text">
    <label for="name">dob</label><br>
    <input type="text">


    <label for="name">status</label>
    <input type="text">
    <button type="submit">Add</button>
</form>
</body>
</html>